*~
*.iws
*.ipr
*.iml
*.html
.project
.classpath
.factorypath
.settings/
.idea/
.idea
.DS_Store
classes/
build.properties
dist/
atlassian*
keystore/
tmp/
bla*.java
src/docs/manual/target
doc/manual/*.css
src/docs/manual/build/*
doc/manual/*.tmp
src/docs/manual/*-generated.adoc
doc/tutorial/target
conf/MANIFEST.MF
target/
lib/
*.log
*.db
*.properties
.ant-targets-build.xml
pom.xml.releaseBackup
pom.xml.versionsBackup
