name: Java CI with Maven

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ${{ matrix.os }}
    permissions:
      checks: write
      contents: read
    strategy:
      fail-fast: false
      matrix:
        os:
          - "ubuntu-latest"
          - "windows-latest"
          - "macos-latest"
        # Keep this list as: all supported LTS JDKs, the latest GA JDK, and optionally the latest EA JDK (if available).
        # https://www.oracle.com/java/technologies/java-se-support-roadmap.html
        java: [ 11, 17, 21, 23 ]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          distribution: temurin
          cache: maven

      - name: Build with Maven
        timeout-minutes: 10
        id: test_runner
        run: mvn --batch-mode --no-transfer-progress package -Dgroups=functional

      - name: Generate reports
        # Only generate reports if tests failed.
        run: mvn --batch-mode --no-transfer-progress surefire-report:report-only spotbugs:spotbugs pmd:pmd

      - name: Generate and upload test reports
        # Only upload reports if tests failed.
        if: failure()
        uses: actions/upload-artifact@v5
        with:
          name: "test-report-${{ matrix.os }}-${{ matrix.java }}"
          # Once SUREFIRE-2219 is finished we can upload only the html report.
          path: |
            target/site
            target/surefire-reports

      - name: Display surefire-reports
        if: failure() || success()
        uses: scacap/action-surefire-report@v1
        with:
          check_name: "surefire-report-${{ matrix.os }}-${{ matrix.java }}"

      - name: Display SpotBugs report
        uses: github/codeql-action/upload-sarif@v3
        with:
          category: "spotbugs-report-${{ matrix.os }}-${{ matrix.java }}"
          sarif_file: target/spotbugs.sarif.json

      - name: Display PMD report
        uses: github/codeql-action/upload-sarif@v3
        with:
          category: "pmd-report-${{ matrix.os }}-${{ matrix.java }}"
          sarif_file: target/pmd.sarif.json
